############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


###############
## Dist::Zilla
###############

# the build directory
.build

# The release
*.tar.gz